* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  border-bottom: 4px solid #3aa832;
}
.mto {
  color: #3aa832;
  margin-left: 170px;
}
.header-contant {
  margin-top: 100px;
}

.btn:hover {
  background-color: #1ab805;
  color: black;
}
.botn {
  margin-bottom: 80px;
  text-align: end;
}
.btn-change {
  border-radius: 30px;
}
.momo {
  color: #3aa832;
  text-align: center;
}
.mott {
  margin-left: 10px;
}
.moto {
  text-align: center;
}
.img-1 {
  position: relative;
  margin-top: 20px;
  right: 400px;
  z-index: -1;
}
.img-2 {
  padding-top: 1px;
}
.text-efm {
  text-align: center;
  margin-top: 200px;
}
.icon-item {
  margin: 30px 170px;
  color: #3aa832;
}
.img-ban {
  float: right;
  width: 50%;
}
.btuo {
  margin-left: 200px;
}
.final-signup {
  padding-top: 65px;
  padding-left: 65px;
  background: linear-gradient(to right, #33cc33 60%, #66ff66 100%);
  border-radius: 5px;
  color: whitesmoke;
}
.footer-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #3aa832;
  padding: 30px;
}

@media (max-width: 768px) {
  .header-contant {
    text-align: center;
    margin-top: 20px;
  }
  .mto {
    margin-left: 10px;
  }
  .img-1 {
    left: 80px;
    z-index: -1;
  }
  .img-2 {
    width: 300px;
    height: 50px;
    margin-right: 20px;
  }
  .btuo {
    margin-left: 125px;
  }
}
